body{
    background-color: black;
    color:white;
}

table, tr, th, td{
    border : 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: .5rem;
}


@keyframes rainbow {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}