#bulb {
    border-radius: 50%;
    background-color: yellow;
    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: lightyellow;
}